{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>Productos</h1>
<ul>
    {% for producto in productos %}
        <li>
            <img src="{{ MEDIA_URL }}imagenes_productos/{{ producto.id }}.jpg" alt="{{ producto.nombre }}">
            <h2>{{ producto.nombre }}</h2>
            <p>{{ producto.descripcion }}</p>
            <p>{{ producto.precio }}</p>
        </li>
    {% endfor %}
</ul>

<h1>Todos Productos</h1>
<ul>
    {% for producto in productos %}
        <li>
            <img src="{{ MEDIA_URL }}imagenes_productos/{{ producto.id }}.jpg" alt="{{ producto.nombre }}">
            <h2>{{ producto.nombre }}</h2>
            <p>{{ producto.descripcion }}</p>
            <p>{{ producto.precio }}</p>
        </li>
    {% endfor %}
</ul>







{% endblock %}
